:root {
  --golden: #ffb916;
  --black: #001a23;
  --blue: #14213d;
}

body {
  background-color: var(--blue);
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  70% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.nav-title-letter {
  font-family: "BungeeShade";
}

.nav-title-letter:hover {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 0.9s;
}

.link {
  font-family: "Bungee";
  color: white;
}
.link:hover {
  color: var(--golden);
}

.header {
  font-size: 10vh;
}
