:root {
  --golden: #ffb916;
  --black: #001a23;
  --charcoal: #282c34;
  --blue: #14213d;
}

body {
  background-color: var(--charcoal);
  color: white;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  70% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes color-change {
  from {
    color: white;
  }
  to {
    color: var(--golden);
  }
}

.nav-title-letter {
  font-family: "BungeeShade";
  color: white;
}

.bounce:hover {
  animation: bounce 0.9s ease-in-out, color-change 0.5s ease-in-out;
}

.link {
  font-family: "Bungee";
  color: white;
}
.link:hover {
  animation: color-change 0.1s ease-in-out;
  color: var(--golden);
}

.header {
  font-size: 10vh;
}

.about-background {
  background-image: url("./images/cb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--black);
  width: 60vw;
  height: 60vh;
}
