body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Bungee";
  src: local("Bungee"),
    url("./fonts/Bungee/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "BungeeShade";
  src: local("Bungee_Shade"),
    url("./fonts/Bungee_Shade/BungeeShade-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoSlab";
  src: local("Roboto_Slab"),
    url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf")
      format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "VT323";
  src: local("VT323-Regular"),
    url("./fonts/VT323/VT323-Regular.ttf") format("truetype");
  font-weight: normal;
}
